body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee8ce;
}

header {
    background: #35424a;
    color: #eef1dd;
    padding: 20px 0;
    text-align: center;
}

.profile,.education,.about{
border:none; width:94%; height: 380px;
}


h2 {
    margin: 0;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000000b0;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
footer ul li a{
    color: white;
}